* {
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    display: flex;
    /* background-color: #003ecb; */
}

#navbarNavDropdown {
    font-size: 14px;
    text-align: center;
    background-color: transparent;
}

.primeiraDiv a {
    text-decoration: none;
    color: white !important;
}

.primeiraDiv {
    /* background-image: linear-gradient(to right, #001E5B, #3693CA); */
    background-image: linear-gradient(#021335ee, #3693CA);
    text-align: end;
    padding-right: 1%;
    height: 2.5rem;
}

.headTop {
    background-color: rgb(221, 235, 235);
    width: 55%;
    height: 2.5rem;
    position: absolute;
    margin-left: 8%;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    background-image: linear-gradient(#001e5bd4, #3693CA);
}

.headtop1 {
    position: absolute;
    width: 200px;
    height: 100%;
    margin-left: 20%;
    background-color: #3693CA;
    transform: skew(-45deg);
    left: -21.9rem;
    animation-duration: 2s;
    animation-name: eu_criei_haedtop1;
    /* animation-iteration-count: infinite; */
}

.headtop2 {
    position: absolute;
    width: 34.38rem;
    height: 100%;
    margin-left: 20%;
    background-color: #3693CA;
    transform: skew(-45deg);
    left: -21.9rem;
    animation-duration: 2s;
    animation-name: headtop2;
    /* animation-iteration-count: infinite; */
    animation-delay: 2s;
    opacity: .6;
}

.ul_headTop li {
    list-style-type: none;
    text-align: left;
    margin-left: 4%;
}

.ul_headTop li a {
    padding: 0.5rem;
    display: inline-block;
    color: black;
    color-scheme: initial;
}

.material-icons {
    vertical-align: middle;
}

@keyframes eu_criei_haedtop1 {
    from {
        margin-left: 0%;
    }
}

@keyframes headtop2 {
    from {
        margin-left: 0%;
        width: 12.5rem;
    }

    to {
        margin-left: 20% auto;
    }
}

.fa {
    padding: 0.56rem;
}

.fa:hover {
    cursor: pointer;
}

#btn_GetQuote {
    display: flex;
    margin-top: 0.5%;
    color: #001E5B;
    border: none;
    /* border-radius: 20px; */
    background: none;
    width: 150px;
    height: 30px;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#btn_GetQuote svg {
    border-left: #dfe0e3 solid 2px;
    padding-left: 0.65rem;
    margin-right: 0.4rem;
}

/* #btn_GetQuote svg {
    margin: .2rem;
    margin-left: -2px;
} */

/* #btn_GetQuote:hover {
    background-color: #001E5B;
} */

.logo {
    margin: -0.5rem -1rem 0 0;
    width: 10rem;
    height: 3rem;
    /* object-fit: cover; */
}

.capa {
    width: 100%;
    height: 39rem;
    /* object-fit: cover; */
    background-size: cover;
}

.capaModelo {
    object-fit: fill;
}

.carousel-caption button {
    width: 12rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    margin-left: 2rem;

    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

    border: none;
    border-radius: 0.8rem;
    background: linear-gradient(135deg, #0051ff, #001e5b);
    color: white;
    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(0.5);
    animation: zoomIn 2s ease-out forwards;
    transition: all 0.3s ease;
}

.carousel-caption a {
    text-decoration: none;
}

.carousel-caption button:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #003ecb, #001540);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.nav-link:hover {
    color: #3693CA !important;
}

.nav-link {
    color: #001E5B !important;
}

.text-carousel {
    text-align: justify;
    color: white;

    height: 300px;
    animation-name: grow;
    animation-duration: 3s;
}

.title-carousel {
    color: white;
    text-align: justify;

    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.card-plano {
    margin-bottom: 10%;
}

@keyframes grow {
    0% {
        font-size: 0;
    }

    100% {
        font-size: 40px;
    }
}

.inter-btn {
    text-align: justify;
    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    margin-bottom: 10%;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-carousel:hover {
    background-color: #001E5B;
    transform: translateY(-30%);
    border: 1px solid #91C9FF;
    transition: 1s ease-in-out;
}

.btn-carousel {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 200px;
}

.input-group {
    padding-bottom: 10%;
}

.mail {
    text-align: center;
    color: white;
    height: 250px;
    padding: 50px;
    background-image: linear-gradient(to right, #001E5B, #3693CA)
}

.nav-item {
    display: flex;
    margin-right: 0.5rem;
    font-size: 0.94rem;
    justify-content: left;
}

.nav-link {
    color: #002060 !important;
    font-weight: 430 !important;
    font-family: 'Inter', sans-serif;
    font-size: 0.92rem !important;
}

.navbar-nav {
    align-items: center;
}

#about {
    display: flex;
    padding: 2rem;
}

#text-about {
    font-size: 15px;
}

#text-about h1 {
    font-size: 28px;
}

#img-about {
    border-radius: 30%;
    box-shadow: -20px 10px 0px 0px #001E5B;
    transform: rotateY(30deg);
    width: 600px;
    padding: 0.5rem;
}

#div-img-about {
    margin-top: 1.5rem;
}

.card-group .card {
    margin: 2rem;
}

.card-preco {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: -50px;
    position: relative;
    /* O cod abaixo ajuja tambem descer a barra de indicação dos cards */
    height: 42rem;
}

#card-preco-head {
    height: 43rem;
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, #0b2d70, #3693CA);

    /* imagem de fundo */
    background-image: url('img/imgFundoPlano2.png'), linear-gradient(rgba(11, 45, 112, 0.6), rgba(54, 147, 202, 0.6));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* mistura a imagem com o gradiente */
    background-blend-mode: overlay;
}

#card-preco-head h1 {
    padding-top: 1.5rem;
}

.card {
    width: 19rem;
    margin: 1rem;
    border-radius: 2rem !important;
    border: none !important;
}

.card-img-top {
    width: 19rem;
    height: 4.8rem;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card-destaque .cardPlano {
    /* transform: scale(1.05); */
    transition: all 1s ease;
    z-index: 2;
    background-color: #022066;
    height: 34rem !important;

    & h2 {
        margin-top: 0rem;
    }

    & h1 {
        padding: 1rem !important;
        margin: 0.5rem;
    }
}

.swiper-slide {
    display: flex !important;
    margin-top: 1rem;
    margin: 0.3rem;
    height: 100%;
    align-items: center;
    /* background-color: #732828; */
    justify-content: center;

    & a {
        text-decoration: none;
    }
}

.cardPlano {
    /* margin-top: -55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23rem !important;
    height: 29rem !important;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    border-radius: 2rem !important;
    border: 0.1rem solid rgba(255, 255, 255, 0.3); */

    background-image: linear-gradient(to right, #0b2d701d, #3694caa2);
    color: white;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 23rem !important;
    text-align: center;
    margin: 20px auto;
    transition: all 1s ease;
    height: 30rem !important;
    border: solid #3693CA;

    & h1 {
        font-size: 20px;
    }

    & h2 {
        margin-top: -1rem;
        font-size: 10px;
    }

    & img {
        height: 3.5rem;
    }

    & li {
        margin: 0.6rem;
    }
}

.cardPlanoCapa {
    height: 32rem !important;
    background-color: #022066;

    & h1 {
        margin-top: 1.5rem;
        font-size: 20px;
    }
}

.card-destaqueCapa {
    justify-content: end;
}

/* .capaComCard {
    transform: scaleX(-1);
} */
@keyframes subirDescer {
    0% {
        margin-top: -13rem;
    }

    50% {
        margin-top: -1rem;
        /* Subindo um pouco */
    }

    100% {
        margin-top: -13rem;
        /* Voltando para a posição original */
    }
}

#bonecoCapa {
    width: 10rem;
    margin: 0 5rem 0 0;
    animation: subirDescer 2s ease-in-out infinite;
    /* Animação de 2 segundos, repetindo infinitamente */
}

/* Responsividade para telas menores */
@media (min-width: 400px) {
    .cardPlano {
        width: 90%;
        height: auto;
        padding: 1rem;
    }
}

.descricaoPlano {
    /* width: 20rem; */
    background: rgba(255, 255, 255, 0.205);
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    font-weight: bold;
    height: 5rem;

    & .velocidade {
        font-size: 3.5rem;
        height: 2.8rem;
        color: #00C7F6;
    }

    & .medVelocidade {
        padding-left: .3rem;
        font-size: 2rem;
        display: flex;
        text-align: center;
        align-items: center;
    }
}

.cardPlano ul {
    background: rgba(2, 32, 102, 0.033);
    /* mais transparente no centro */
    border-left: 6px solid rgba(255, 255, 255, 0.3);
    /* borda esquerda grossa */
    border-right: 6px solid rgba(255, 255, 255, 0.3);
    /* borda direita grossa */
    border-top: none;
    border-bottom: none;
    /* border-radius: 20px; */
    /* cantos arredondados */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 15px;
    color: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.valorPlano {
    /* color: #00C7F6;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-start; */
    /* background: rgba(255, 255, 255, 0.1); */
    border-radius: 12px;
    padding: 6px;
    margin: 2px 0;
    font-weight: bold;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    height: 5.5rem;

    & .sifrao {
        font-size: 2rem;
    }

    & .valor {
        margin-top: -1rem;
        font-size: 4rem;
    }

    & .subValor {
        font-size: 2rem;
    }
}

.valorOferta {
    height: 0.4rem;
    margin-top: -1rem;
    padding-bottom: .5rem !important;
}

.cardPlano ul {
    list-style: none;
    text-align: justify;
    margin-bottom: 0rem;
}

.cardPlano:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.feature {
    display: flex;
}

.subfeature {
    text-align: justify;
    margin: 120px 0px 120px 120px;
}

.card-col-1 {
    margin: 130px 30px 0px 30px;
}

.cards-feature:hover {
    transform: scale(1.05);
    /* transform: translateY(-10%); */
}

.card-col-2 {
    margin-top: 180px;
}

.cards-feature {
    margin-top: 40px;
    background-image: linear-gradient(to right, #3693CA, #001E5B);
    width: 250px;
    height: 280px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #001E5B;
    color: white;
}

.cards-feature p {
    margin: 10%;
}

.cards-feature img {
    margin-top: 10%;
    margin-left: 10%;
}

#img-feature {
    border-radius: 20px;
    /* width: 700px; */
    height: 500px;
}

.countdown {
    display: flex;
    justify-content: center;
    color: white;
    height: 250px;
    text-align: center;
    background-image: linear-gradient(to right, #3693CA, #001E5B);
}

.countdown h1 {
    margin-top: 20px;
}

.sub-countdown {
    margin: 50px;
}

.sub-card button {
    margin-left: 75%;
    margin-top: 15%;
    background-color: #001E5B;
    position: absolute;
}

.sub-card h1 {
    margin-top: 5%;
    margin-left: 5%;
}

.sub-card h4 {
    margin-left: 5%;
}

.hd {
    background-color: #3693CA;
    width: 70px;
    text-align: center;
    position: relative;
    margin-left: 150px;
    border-radius: 10px;
}

.card-movie img {
    width: 230px;
    height: 300px;
    /* margin-top: -60px; */
    border-radius: 10px;
}

.card-movie_2 img {
    width: 230px;
    height: 300px;
    /* margin-top: -60px; */
    border-radius: 10px;
}

.text-movies {
    text-align: center;
    margin: 50px;
}

.cards-movies {
    margin: 1%;
}

.todo-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

#carousel-cards {
    background-color: #3693CA;
    padding: 30px;
}

#carousel-cards h1 {
    text-align: center;
    padding-bottom: 30px;
    color: white;
}

#carousel-cards h3 {
    text-align: center;
    padding-bottom: 30px;
    color: white;
}

#cobertura {
    padding-top: 1rem;
    text-align: center;
    width: 100%;
    height: 40rem;
    background-image: linear-gradient(to right, #3694caad, #001e5bc4);
    color: white;
}

.mapaCobertura {
    width: 80%;
    height: 34.5rem;
}

#cards-2 {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.card-img {
    padding: 10px;

}

.seta {
    padding-left: 40%;
    cursor: pointer;
}

.seta:hover {
    transform: translate(-7px);
    transition-duration: 0.5s;
}

#setaesquerda {
    display: none;
}

#leonardo {
    display: none;
}

.btn-footer {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 100px;
}

#service {
    text-align: center;
    width: 100%;
    height: 460px;
    padding-top: 50px;
    color: white;
    background-image: linear-gradient(to right, #3693CA, #022066)
}

.bnt-mail {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 120px;
}

.bnt-mail:hover {
    transform: translateX(10%);
}

.inputMail input {
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
}

.btn-discover {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 180px;
    height: 30px;
}

.btn-discover:hover {
    transform: translateX(10%);
}

#text-about li {
    margin: 10px;
}

.bnt-go {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #001E5B;
    width: 150px;
    height: 30px;
}

.videos {
    /* background: url("./img/BANNER-MENINA.png");
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1; */
    width: 100%;
    height: 650px;
}

footer {
    padding: 2%;
    width: 100%;
    background-image: linear-gradient(to right, #3693CA, #001E5B);
}

footer .linha1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & #telefone {
        font-size: 30px;
        font-weight: bold;
    }
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

footer nav {
    display: flex;
    flex-direction: column;
    height: 12rem;
}

footer h5 {
    /* text-align: center; */
    color: white;
    font-weight: 700;
    font-size: 15px;
    /* background-color: #022066; */
    /* border-radius: 10px; */
    /* padding: 10px; */
    margin-bottom: 10px;
}

footer ul li {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin: 5px 0px 5px 0px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    color: #001E5B;
}


footer .enderecoFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

    & img {
        width: 10rem;
        margin: 10px;
    }
}

.redesSociais {
    list-style: none;
    padding: 0;
}

.redesSociais li {
    display: flex;
    align-items: center;
    gap: 1px;
    margin: 0;
}

.redesSociais .fa {
    width: 2rem;
    color: white !important;
    margin-left: -0.5rem;
}

.redesSociais a {
    color: white;
    text-decoration: none;
}

.termo-politica {
    display: flex;
    justify-content: center;
}

.termo-politica a {
    color: white;
    margin: 0.2rem;
}

.termo-politica a:hover {
    color: #001E5B;
}



.mvv {
    position: relative;
    padding: 2rem;
    color: #333;
    overflow: hidden;
    font-size: 1.3rem;
    font-weight: bold;
}

.mvv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/mvv.jpg');
    background-size: contain;
    background-position: center;
    /* background-repeat: no-repeat; */
    opacity: 0.19;
    /* aqui controla a transparência da imagem */
    z-index: 0;
}

.mvv>* {
    position: relative;
    z-index: 1;
}


#pl500 {
    padding: 1rem;
    text-align: center;
    margin: 2rem;
    width: 30rem;
    height: 38rem;
    background-color: #91C9FF;
}

#div_pl500 {
    justify-items: center;
}

.paraEmpresa {
    text-align: center;
    margin: 2rem;
    color: red;
}

.formIndiqueGanhe {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        width: 30rem;
        height: 34.3rem;
        object-fit: cover;
    }
}

.indiqueGanhe {
    width: 30rem;
    display: grid;
    margin-bottom: 0.5rem;
    justify-items: center;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 2rem;

    & input {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        font-size: 16px;
        outline: none;
        background: transparent;
        border-radius: 5px;
    }

    & input:focus {
        border-bottom: 2px solid #3693CA;
    }

    & label {
        margin-top: -1rem;
        font-size: 14px;
        color: #666;
    }

    & button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: #3693CA;
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    & button:hover {
        background: #001E5B;
        transform: scale(1.05);
    }

    & .indiqueGanhe button:active {
        transform: scale(0.98);
    }

    & img {
        width: 10rem;
        height: auto;
    }

}

.valorPlanoNovo {
    display: inline-flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.205);
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    color: white;
    text-align: center;
    height: 10rem;
    width: 20.2rem;
}

.valorPlanoNovo .mega {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

    margin-bottom: 1rem;
    margin-top: -2rem;
    padding: 0 1rem;
    height: 2.5rem;

    background: linear-gradient(135deg, #42a5f5, #1e88e5);
    color: white;
    border-radius: 0.7rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.valorPlanoNovo .preco {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.valorPlanoNovo .mes {
    font-size: 18px;
    margin-top: -10px;
}

.valorPlanoNovo sup {
    font-size: 20px;
    vertical-align: middle;
}

.cardPlano .btnSaibaMais {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: 1.5rem !important;
}

.btnSaibaMais {
    background: linear-gradient(135deg, #42a5f5, #1e88e5);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

    width: 11rem;
    height: 2.8rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.btnSaibaMais:hover {
    background: linear-gradient(135deg, #1e88e5, #1565c0);
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

/* Tablets maiores e notebooks */
@media screen and (min-width: 481px) and (max-width: 1200px) {
    #navbarNavDropdown {
        background-color: white !important;
        margin-top: 0.6rem;
    }

    .container-fluid {
        height: 2.5rem;
    }

    .mx-auto {
        align-items: center;
    }

    .nav-item {
        /* width: 17.3rem !important; */
        margin-left: 2%;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        margin-top: -5px;
        height: 25px;
    }

    .capa {
        width: 100%;
        height: 200px;
    }

    #navbarNavDropdown {
        background-color: white;
        /* height: 21.1rem; */
        margin-top: 0.8rem;
        justify-content: start;
    }

    .mx-auto {
        align-items: flex-start;
    }

    .nav-item {
        /* width: 17.3rem !important; */
        margin-left: 2%;
    }

    .container-fluid {
        padding-left: 0px !important;
        height: 1.5rem;
    }

    #about {
        flex-direction: column;
        align-items: center;
    }

    #about #text-about {
        padding: 20px 0px 0px 0px;
    }

    #service {
        height: 1080px;
    }

    #about #img-about {
        height: 300px;
        width: 100%;
    }

    #card-preco-head {
        height: auto;
    }

    .card-preco {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }

    .feature .subfeature {
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }

    .feature .subfeature #img-feature {
        width: 300px;
        height: auto;
    }

    .card-col-1 {
        margin: auto;
    }

    .card-col-2 {
        margin: auto;
    }

    video {
        width: 100%;
    }

    .countdown {
        flex-direction: column;
        height: auto;
    }

    .navbar-toggler {
        height: 1.8rem;
    }

    .navbar-toggler .navbar-toggler-icon {
        height: 1rem;
        width: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .videos {
        /* background: url("./img/BANNER-MENINA.png"); */
        position: relative;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
        width: 100%;
    }

    .ul_headTop li .endereco {
        display: none;
    }

    .ul_headTop li .email {
        display: none;
    }

    .ul_headTop li .fone {
        font-size: 14px;
        margin-left: -20px;
    }

    .headTop {
        width: 45%;
    }

    .todo-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-movie img {
        width: 100%;
        border-radius: 10px;
    }

    .card-movie_2 img {
        width: 100%;
        border-radius: 10px;
    }

    .card-plano {
        margin-bottom: 10%;
    }

    .text-movies {
        text-align: center;
        margin: 30px;
    }

    .linha1 {
        display: flex;
        flex-direction: column;
    }

    .fa {
        padding: 5px 10px 5px 5px;
    }

    footer nav {
        text-align: center;
        margin: 2%;
        height: 11rem;
        align-items: center;
    }

    footer ul {
        align-items: center;
    }

    .swiper {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .swiper-wrapper {
        display: flex;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 100%;
        max-width: 83%;
        /* Ajuste conforme necessário */
    }

    .subfeature h1 {
        margin: 5%;
    }
}

/* Celulares médios e tablets pequenos */
@media screen and (max-width: 768px) {}



/* Telas grandes */
@media screen and (max-width: 1200px) {}