* {
    padding: 0px;
    margin: 0px;
}

.primeiraDiv a {
    text-decoration: none;
}

.primeiraDiv {
    /* background-image: linear-gradient(to right, #001E5B, #3693CA) */
    background-image: linear-gradient(#001E5B, #3693CA);
    text-align: end;
    padding-right: 1%;
    height: 40px;
}

.headTop {
    background-color: rgb(221, 235, 235);
    width: 45%;
    height: 40px;
    position: absolute;
    margin-left: 8%;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    opacity: 0.4;
}

.headtop1 {
    position: absolute;
    width: 200px;
    height: 100%;
    margin-left: 20%;
    background-color: #3693CA;
    transform: skew(-45deg);
    left: -350px;
    animation-duration: 2s;
    animation-name: eu_criei_haedtop1;
    /* animation-iteration-count: infinite; */
}

.headtop2 {
    position: absolute;
    width: 550px;
    height: 100%;
    margin-left: 20%;
    background-color: #3693CA;
    transform: skew(-45deg);
    left: -350px;
    animation-duration: 2s;
    animation-name: headtop2;
    /* animation-iteration-count: infinite; */
    animation-delay: 2s;
    opacity: .6;
}

.ul_headTop li {
    list-style-type: none;
    text-align: center;
}

.ul_headTop li a {
    padding: 8px;
    display: inline-block;
    color: black;
    color-scheme: initial;
}

.material-icons {
    vertical-align: middle;
}

@keyframes eu_criei_haedtop1 {
    from {
        margin-left: 0%;
    }
}

@keyframes headtop2 {
    from {
        margin-left: 0%;
        width: 200px;
    }

    to {
        margin-left: 20% auto;
    }
}

.fa {
    padding: 9px;
}

.fa:hover {
    cursor: pointer;
}

#btn_GetQuote {
    margin-top: 0.5%;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 150px;
    height: 30px;
}

#btn_GetQuote:hover {
    background-color: #001E5B;
}

.logo {
    margin: 3px;
    width: 100px;
    height: 40px;
}

.capa {
    width: 100%;
    height: 610px;
}

.nav-link:hover {
    color: #ee763f !important;
}

.nav-link {
    color: #001E5B !important;
}

.text-carousel {
    text-align: justify;
    color: white;

    height: 300px;
    animation-name: grow;
    animation-duration: 3s;
}

.title-carousel {
    color: white;
    text-align: justify;

    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes grow {
    0% {
        font-size: 0;
    }

    100% {
        font-size: 40px;
    }
}

.inter-btn {
    text-align: justify;
    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    margin-bottom: 10%;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-carousel:hover {
    background-color: #001E5B;
    transform: translateY(-30%);
    border: 1px solid #91C9FF;
    transition: 1s ease-in-out;
}

.btn-carousel {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 200px;
}

.input-group {
    padding-bottom: 10%;
}

.mail {
    text-align: center;
    color: white;
    height: 250px;
    padding: 50px;
    background-image: linear-gradient(to right, #001E5B, #3693CA)
}

.nav-item {
    margin-right: 100px;
}

#about {
    display: flex;
    padding: 30px;
}

#text-about {
    padding: 100px;
    font-size: 15px;
}

#text-about h1 {
    font-size: 28px;
}

#img-about {
    border-radius: 40%;
    box-shadow: -30px 0px 0px 0px #001E5B;
    transform: rotateY(30deg);
    width: 600px;
}

.card-preco {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#card-preco-head {
    height: 550px;
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, #001E5B, #3693CA)
}

#card-preco-head h2 {
    padding-top: 35px;
}

.card {
    margin: 10px;
}

.feature {
    display: flex;
}

.subfeature {
    text-align: justify;
    margin: 120px 0px 120px 120px;
}

.card-col-1 {
    margin: 130px 30px 0px 30px;
}

.cards-feature:hover {
    transform: translateY(-10%);
}

.card-col-2 {
    margin-top: 180px;
}

.cards-feature {
    margin-top: 40px;
    background-image: linear-gradient(to right, #3693CA, #001E5B);
    width: 250px;
    height: 280px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #001E5B;
    color: white;
}

.cards-feature p {
    margin: 10%;
}

.cards-feature img {
    margin-top: 10%;
    margin-left: 10%;
}

#img-feature {
    border-radius: 20px;
    width: 700px;
    height: 500px;
}

.countdown {
    display: flex;
    justify-content: center;
    color: white;
    height: 250px;
    text-align: center;
    background-image: linear-gradient(to right, #3693CA, #001E5B);
}

.countdown h1 {
    margin-top: 20px;
}

.sub-countdown {
    margin: 50px;
}

.sub-card {
    background-color: #3693CA;
    width: 230px;
    height: 100px;
    border-radius: 10px;
    margin-top: 240px;
    position: absolute;
    margin-left: 15px;
}

.sub-card button {
    margin-left: 75%;
    margin-top: 15%;
    background-color: #001E5B;
    position: absolute;
}

.sub-card h1 {
    margin-top: 5%;
    margin-left: 5%;
}

.sub-card h4 {
    margin-left: 5%;
}

.hd {
    background-color: #3693CA;
    width: 70px;
    text-align: center;
    position: relative;
    margin-left: 150px;
    border-radius: 10px;
}

.card-movie img {
    width: 230px;
    height: 300px;
    margin-top: -60px;
    border-radius: 10px;
}

.card-movie_2 img {
    width: 230px;
    height: 300px;
    margin-top: -60px;
    border-radius: 10px;
}

.text-movies {
    text-align: center;
    margin: 50px;
}

.cards-movies {
    margin: 1%;
}

.card-movie_2 {
    margin-top: 20%;
}

.todo-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

#carousel-cards {
    background-color: #3693CA;
    padding: 30px;
}

#carousel-cards h1 {
    text-align: center;
    padding-bottom: 30px;
    color: white;
}

#cards-2 {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.card-img {
    padding: 10px;

}

.seta {
    padding-left: 40%;
    cursor: pointer;
}

.seta:hover {
    transform: translate(-7px);
    transition-duration: 0.5s;
}

#setaesquerda {
    display: none;
}

#leonardo {
    display: none;
}


.card:hover {
    .btn-footer {
        transform: translateY(-20%);
        transition: 1s ease-in-out;
        background-color: #001E5B;
    }

    .card-img-top {
        /* transform: rotate(360deg) rotateY(360deg); */
        transform: rotateY(180deg);
        transition-duration: 0.5s;
        cursor: pointer;
    }

    .card-img-top-plano {
        border: 0.5px solid;
        padding: 5px;
        box-shadow: 5px 5px #888888;

    }

    /* .card-img-top {
        cursor: pointer;
        animation-name: rotate;
        animation-duration: 0.3s;
        animation-direction: reverse;
    } */
    .bnt-go {
        transform: translateY(-20%);
        transition: 1s ease-in-out;
        background-color: #001E5B;
    }
}

.btn-footer {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 100px;
}

#service {
    text-align: center;
    width: 100%;
    height: 460px;
    padding-top: 50px;
    color: white;
    background-image: linear-gradient(to right, #3693CA, #001E5B)
}

.bnt-mail {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 120px;
}

.bnt-mail:hover {
    transform: translateX(10%);
}

.inputMail input {
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
}

.btn-discover {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 180px;
    height: 30px;
}

.btn-discover:hover {
    transform: translateX(10%);
}

#text-about li {
    margin: 10px;
}

.bnt-go {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 150px;
    height: 30px;
}

.videos {
    background: url("./img/BANNER-MENINA.png");
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: 600px
}

@media screen and (max-width: 480px) {
    .logo {
        margin-top: -15px;
        height: 25px;
    }

    #navbarNavDropdown {
        background-color: white;
        height: 220px;
    }

    #about {
        flex-direction: column;
        align-items: center;
    }

    #about #text-about {
        padding: 20px 0px 0px 0px;
    }

    .card-group {
        margin: 10%;
    }

    #service {
        height: 1050px;
    }

    #about #img-about {
        margin-top: 75%;
        height: 300px;
        width: 300px;
    }

    #card-preco-head {
        height: auto;
    }

    .card-preco {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }

    .feature .subfeature {
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }

    .feature .subfeature #img-feature {
        width: 300px;
        height: auto;
    }

    .card-col-1 {
        margin: auto;
    }

    .card-col-2 {
        margin: auto;
    }

    video {
        width: 382px;
    }

    .countdown {
        flex-direction: column;
        height: auto;
    }
}