* {
    padding: 0px;
    margin: 0px;
}

.primeiraDiv a {
    text-decoration: none;
}

.primeiraDiv {
    /* background-image: linear-gradient(to right, #001E5B, #3693CA) */
    background-image: linear-gradient(#001E5B, #3693CA);
    text-align: end;
    padding-right: 1%;
    height: 40px;
}

.headTop {
    background-color: rgb(221, 235, 235);
    width: 55%;
    height: 40px;
    position: absolute;
    margin-left: 8%;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    opacity: 0.4;
}

.headtop1 {
    position: absolute;
    width: 200px;
    height: 100%;
    margin-left: 20%;
    background-color: #3693CA;
    transform: skew(-45deg);
    left: -350px;
    animation-duration: 2s;
    animation-name: eu_criei_haedtop1;
    /* animation-iteration-count: infinite; */
}

.headtop2 {
    position: absolute;
    width: 550px;
    height: 100%;
    margin-left: 20%;
    background-color: #3693CA;
    transform: skew(-45deg);
    left: -350px;
    animation-duration: 2s;
    animation-name: headtop2;
    /* animation-iteration-count: infinite; */
    animation-delay: 2s;
    opacity: .6;
}

.ul_headTop li {
    list-style-type: none;
    text-align: left;
    margin-left: 4%;
}

.ul_headTop li a {
    padding: 8px;
    display: inline-block;
    color: black;
    color-scheme: initial;
}

.material-icons {
    vertical-align: middle;
}

@keyframes eu_criei_haedtop1 {
    from {
        margin-left: 0%;
    }
}

@keyframes headtop2 {
    from {
        margin-left: 0%;
        width: 200px;
    }

    to {
        margin-left: 20% auto;
    }
}

.fa {
    padding: 9px;
}

.fa:hover {
    cursor: pointer;
}

#btn_GetQuote {
    margin-top: 0.5%;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 150px;
    height: 30px;
}

#btn_GetQuote:hover {
    background-color: #001E5B;
}

.logo {
    margin: 1%;
    width: 8rem;
    height: 2rem;
}

.capa {
    width: 100%;
    height: 40rem;
}

.nav-link:hover {
    color: #3693CA !important;
}

.nav-link {
    color: #001E5B !important;
}

.text-carousel {
    text-align: justify;
    color: white;

    height: 300px;
    animation-name: grow;
    animation-duration: 3s;
}

.title-carousel {
    color: white;
    text-align: justify;

    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.card-plano {
    margin-bottom: 10%;
}

@keyframes grow {
    0% {
        font-size: 0;
    }

    100% {
        font-size: 40px;
    }
}

.inter-btn {
    text-align: justify;
    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    margin-bottom: 10%;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-carousel:hover {
    background-color: #001E5B;
    transform: translateY(-30%);
    border: 1px solid #91C9FF;
    transition: 1s ease-in-out;
}

.btn-carousel {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 200px;
}

.input-group {
    padding-bottom: 10%;
}

.mail {
    text-align: center;
    color: white;
    height: 250px;
    padding: 50px;
    background-image: linear-gradient(to right, #001E5B, #3693CA)
}

.nav-item {
    margin-right: 2rem;
}

#about {
    display: flex;
    padding: 2rem;
}

#text-about {
    font-size: 15px;
}

#text-about h1 {
    font-size: 28px;
}

#img-about {
    border-radius: 40%;
    box-shadow: -30px 10px 0px 0px #001E5B;
    transform: rotateY(30deg);
    width: 600px;
    padding: 0.5rem;
}

#div-img-about {
    margin-top: 1.5rem;
}

.card-group .card {
    margin: 2rem;
}

.card-preco {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#card-preco-head {
    height: 40rem;
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, #0b2d70, #3693CA);
}

#card-preco-head h2 {
    padding-top: 2rem;
}

.card {
    width: 19rem;
    margin: 1rem;
    border-radius: 2rem !important;
    border: none !important;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.swiper-slide {
    margin-top: 0.3rem;
    height: 31rem !important;

    & a {
        text-decoration: none;
    }
}

.cardPlano {
    width: 20rem;
    height: 27rem;
    font-size: 14px;
    background-image: linear-gradient(to right, #022066, #0c097a, #070874);
    color: white;
    border-radius: 2rem !important;

    & h1 {
        font-size: 20px;
    }

    & h2 {
        margin-top: -3.5rem;
        font-size: 10px;
    }

    & img {
        height: 3.5rem;
    }

    & li {
        margin: 0.6rem;
    }
}

.descricaoPlano {
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;

    & .velocidade {
        font-size: 3.5rem;
        height: 2.8rem;
        color: #00C7F6;
    }

    & .medVelocidade {
        font-size: 2rem;
    }
}

.valorPlano {
    color: #00C7F6;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    & .sifrao {
        font-size: 2rem;
    }

    & .valor {
        margin-top: -1rem;
        font-size: 4rem;
    }

    & .subValor {
        font-size: 2rem;

    }
}

.valorOferta {
    height: 0.4rem;
}

.cardPlano ul {
    list-style: none;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.cardPlano:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.feature {
    display: flex;
}

.subfeature {
    text-align: justify;
    margin: 120px 0px 120px 120px;
}

.card-col-1 {
    margin: 130px 30px 0px 30px;
}

.cards-feature:hover {
    transform: scale(1.05);
    /* transform: translateY(-10%); */
}

.card-col-2 {
    margin-top: 180px;
}

.cards-feature {
    margin-top: 40px;
    background-image: linear-gradient(to right, #3693CA, #001E5B);
    width: 250px;
    height: 280px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #001E5B;
    color: white;
}

.cards-feature p {
    margin: 10%;
}

.cards-feature img {
    margin-top: 10%;
    margin-left: 10%;
}

#img-feature {
    border-radius: 20px;
    width: 700px;
    height: 500px;
}

.countdown {
    display: flex;
    justify-content: center;
    color: white;
    height: 250px;
    text-align: center;
    background-image: linear-gradient(to right, #3693CA, #001E5B);
}

.countdown h1 {
    margin-top: 20px;
}

.sub-countdown {
    margin: 50px;
}

.sub-card button {
    margin-left: 75%;
    margin-top: 15%;
    background-color: #001E5B;
    position: absolute;
}

.sub-card h1 {
    margin-top: 5%;
    margin-left: 5%;
}

.sub-card h4 {
    margin-left: 5%;
}

.hd {
    background-color: #3693CA;
    width: 70px;
    text-align: center;
    position: relative;
    margin-left: 150px;
    border-radius: 10px;
}

.card-movie img {
    width: 230px;
    height: 300px;
    /* margin-top: -60px; */
    border-radius: 10px;
}

.card-movie_2 img {
    width: 230px;
    height: 300px;
    /* margin-top: -60px; */
    border-radius: 10px;
}

.text-movies {
    text-align: center;
    margin: 50px;
}

.cards-movies {
    margin: 1%;
}

.todo-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

#carousel-cards {
    background-color: #3693CA;
    padding: 30px;
}

#carousel-cards h1 {
    text-align: center;
    padding-bottom: 30px;
    color: white;
}

#carousel-cards h3 {
    text-align: center;
    padding-bottom: 30px;
    color: white;
}

#cobertura {
    padding-top: 1rem;
    text-align: center;
    width: 100%;
    height: 40rem;
    background-image: linear-gradient(to right, #3693CA, #001E5B);
    color: white;
}

.mapaCobertura {
    width: 80%;
    height: 34.5rem;
}

#cards-2 {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.card-img {
    padding: 10px;

}

.seta {
    padding-left: 40%;
    cursor: pointer;
}

.seta:hover {
    transform: translate(-7px);
    transition-duration: 0.5s;
}

#setaesquerda {
    display: none;
}

#leonardo {
    display: none;
}

.btn-footer {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 100px;
}

#service {
    text-align: center;
    width: 100%;
    height: 460px;
    padding-top: 50px;
    color: white;
    background-image: linear-gradient(to right, #3693CA, #022066)
}

.bnt-mail {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 120px;
}

.bnt-mail:hover {
    transform: translateX(10%);
}

.inputMail input {
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
}

.btn-discover {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #3693CA;
    width: 180px;
    height: 30px;
}

.btn-discover:hover {
    transform: translateX(10%);
}

#text-about li {
    margin: 10px;
}

.bnt-go {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #001E5B;
    width: 150px;
    height: 30px;
}

.videos {
    /* background: url("./img/BANNER-MENINA.png");
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1; */
    width: 100%;
    height: 650px;
}

footer {
    padding: 2%;
    width: 100%;
    background-image: linear-gradient(to right, #3693CA, #001E5B);
}

footer .linha1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & #telefone {
        font-size: 30px;
        font-weight: bold;
    }
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

footer nav {
    display: flex;
    flex-direction: column;
    height: 12rem;
}

footer h5 {
    /* text-align: center; */
    color: white;
    font-weight: 700;
    font-size: 15px;
    /* background-color: #022066; */
    /* border-radius: 10px; */
    /* padding: 10px; */
    margin-bottom: 10px;
}

footer ul li {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin: 5px 0px 5px 0px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    color: #001E5B;
}


footer .enderecoFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    & img {
        width: 10rem;
        margin: 10px;
    }
}

.redesSociais {
    list-style: none;
    padding: 0;
}

.redesSociais li {
    display: flex;
    align-items: center;
    gap: 1px;
    margin: 0;
}

.redesSociais .fa {
    width: 2rem;
    color: white !important;
    margin-left: -0.5rem;
}

.redesSociais a {
    color: white;
    text-decoration: none;
}

.termo-politica {
    display: flex;
    justify-content: center;
}

.termo-politica a {
    color: white;
    margin: 0.2rem;
}

.termo-politica a:hover {
    color: #001E5B;
}

#navbarNavDropdown {
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .logo {
        margin-top: -5px;
        height: 25px;
    }

    .capa {
        width: 100%;
        height: 200px;
    }

    #navbarNavDropdown {
        background-color: white;
        height: 20.5rem;
        /* padding-right: 5rem !important; */
    }

    .nav-item {
        width: 17.3rem;
        margin-left: 2%;
    }

    .container-fluid {
        padding-left: 0px !important;
        height: 1.5rem;
    }

    #about {
        flex-direction: column;
        align-items: center;
    }

    #about #text-about {
        padding: 20px 0px 0px 0px;
    }

    .card-group {
        margin: 10%;
    }

    #service {
        height: 1080px;
    }

    #about #img-about {
        height: 300px;
        width: 100%;
    }

    #card-preco-head {
        height: auto;
    }

    .card-preco {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }

    .feature .subfeature {
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }

    .feature .subfeature #img-feature {
        width: 300px;
        height: auto;
    }

    .card-col-1 {
        margin: auto;
    }

    .card-col-2 {
        margin: auto;
    }

    video {
        width: 100%;
    }

    .countdown {
        flex-direction: column;
        height: auto;
    }

    .navbar-toggler {
        height: 1.8rem;
    }

    .navbar-toggler .navbar-toggler-icon {
        height: 1rem;
        width: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .videos {
        /* background: url("./img/BANNER-MENINA.png"); */
        position: relative;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
        width: 100%;
    }

    .ul_headTop li .endereco {
        display: none;
    }

    .ul_headTop li .email {
        display: none;
    }

    .ul_headTop li .fone {
        font-size: 14px;
        margin-left: -20px;
    }

    .headTop {
        width: 45%;
    }

    .todo-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-movie img {
        width: 100%;
        border-radius: 10px;
    }

    .card-movie_2 img {
        width: 100%;
        border-radius: 10px;
    }

    .card-plano {
        margin-bottom: 10%;
    }

    .text-movies {
        text-align: center;
        margin: 30px;
    }

    .linha1 {
        display: flex;
        flex-direction: column;
    }

    footer .linha1 {
        align-items: flex-start;
    }

    footer ul li {
        text-align: left;
    }

    .fa {
        padding: 5px 10px 5px 5px;
    }

    footer nav {
        height: 220px;
    }


    .swiper {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .swiper-wrapper {
        display: flex;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 100%;
        max-width: 300px;
        /* Ajuste conforme necessário */
    }

}

#pl500 {
    padding: 1rem;
    text-align: center;
    margin: 2rem;
    width: 30rem;
    height: 38rem;
    background-color: #91C9FF;
}

#div_pl500 {
    justify-items: center;
}


.paraEmpresa {
    text-align: center;
    margin: 2rem;
    color: red;
}